<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="5 seconds">

    <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>%d{HH:mm:ss} %.-1p %-40C{40} %-5L [%t] %m%n</Pattern>
        </encoder>
    </appender>

    <logger name="org.springframework.data.mongodb.core" additivity="false">
        <level value="info"/>
        <appender-ref ref="consoleAppender"/>
    </logger>
    <logger name="org.springframework.core.log" additivity="false">
        <level value="info"/>
        <appender-ref ref="consoleAppender"/>
    </logger>
    <logger name="com.chinadaas" additivity="false">
        <level value="info"/>
        <appender-ref ref="consoleAppender"/>
    </logger>

    <root level="info">
        <appender-ref ref="consoleAppender"/>
    </root>

</configuration>